In [1]:
#pip install gspread

In [2]:
import pandas as pd
import gspread

In [4]:
gc = gspread.service_account(filename="F:\System\Downloads\credentials.json")

In [5]:
gc

In [6]:
sheet = gc.open_by_url("https://docs.google.com/spreadsheets/d/1_KMyfw0VDxIU_T5c-sYs_mFobk4DjrK9Ez1Ek7SQRvk/edit?usp=sharing")

In [7]:
sheet

In [8]:
ws = sheet.worksheet("third-year")

In [9]:
ws

In [10]:
df = pd.DataFrame(ws.get_all_records())

In [11]:
df

   name1  age1
0  Rakib    23
1  Sajib    24
2   Asif    22
3   Rafi    25

In [13]:
ws2 = sheet.worksheet("final-year")
df2 = pd.DataFrame(ws2.get_all_records())

In [14]:
df2

   name2  age2
0  Mamun    25
1   Abir    24
2   Safi    24
3   Siam    26